[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
reportlab = "*"
passlib = "*"
face-recognition = "*"
dlib = "==19.24.4"
scikit-learn = "*"
twilio = "*"
matplotlib = "*"
virtualenv = "*"
pydantic = "*"
starlette = "*"
cmake = "*"
numpy = "*"
keras = "*"

[dev-packages]

[requires]
python_version = "3.10"
